{% extends 'myapp/base.html' %}
{% block title %}Post Detail{% endblock %}
{% block body %}
<h1> Post Details</h1>
<h2>Title : {{post_detail.title}} </h2>
<h2>Rate: {{ rating.rate__avg }}</h2>
Text : {{post_detail.text}}
Created Date : {{post_detail.created_date}}
Published Date : {{post_detail.publish_date}}
    <br/>
Reply :
<form method="post">
    {% csrf_token %}
    {{replyform.text}}
    <input type = "submit" value="Submit"/>
</form>
Rate Post

<form method="post">
        {% csrf_token %}
    {{ rating_form.rate }}
            <input type = "submit" value="Submit"/>
    </form>
{% endblock %}