{% extends 'myapp/base.html' %}
{% block title %}Post List {% endblock %}
{% block body %}
<h1>Post List</h1>

<table border="1">
<thead>
    <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Created Date</th>
    <th>Publish Date</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for post in post_list %}
    <tr>
    <td>{{ post.title }}</td>
    <td>{{ post.text }}</td>
    <td>{{ post.created_date }}</td>
    <td>{{ post.publish_date }}</td>
    <td><a href="{% url 'post_view' post.id %}">view</a></td>
    <td><a href="{% url 'post_edit' post.id %}">edit</a></td>
    <td><a href="{% url 'post_delete' post.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<!--<a href="{% url 'post_new' %}">New</a>-->
{% endblock %}