<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reply List</title>
</head>
<body>
<h1>
    Replies
</h1>
<table border="1">
<thead>
<tr>
    <th>Post</th>
    <th>Reply</th>
    <th>Created Date</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead>
<tbody>
{% for replies in replies %}
<tr>
    <td>{{ replies.post }}</td>
    <td>{{ replies.text }}</td>
    <td>{{ replies.created_date }}</td>
    <td><a href="/reply-view/{{replies.id}}">view</a> </td>
    <td><a href="/reply-edit/{{post_id}}">edit</a> </td>
    <td><a href="/reply-delete/{{replies.id}}">delete</a></td>

</tr>
{% endfor %}
</tbody>
</table>
<!--{% for replies in replies %}-->
<!--{% if forloop.first %}-->
<!--<a href="/reply-new/{{replies.post_id}}">New</a>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<a href="/reply-new/{{post_id}}">New</a>
</body>
</html>