{% extends 'myapp/base.html' %}
{% block title %}Reply List{% endblock %}
{% block body %}
<h1>
    Replies
</h1>
<table border="1">
<thead>
<tr>
    <th>Post</th>
    <th>Text</th>
    <th>Created Date</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead>
<tbody>
{% for reply in object_list %}
<tr>
    <td>{{ replies.post }}</td>
    <td>{{ replies.text }}</td>
    <td>{{ replies.created_date }}</td>
    <td><a href="{% url 'reply_view' replies.id %}">view</a> </td>
    <td><a href="{% url 'reply_edit' replies.id %}">edit</a> </td>
    <td><a href="{% url 'reply_delete' replies.id %}">delete</a></td>

</tr>
{% endfor %}
</tbody>
</table>
<!--<a href="{% url 'reply_new' %}">New</a>-->

{% endblock %}