<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reply List</title>
</head>
<body>
<h1>
    Replies
</h1>
<table border="1">
<thead>
<tr>
    <th>Post</th>
    <th>Text</th>
    <th>Created Date</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead>
<tbody>
{% for replies in object_list %}
<tr>
    <td>{{ replies.post }}</td>
    <td>{{ replies.text }}</td>
    <td>{{ replies.created_date }}</td>
    <td><a href="/reply-view/{{replies.id}}">view</a> </td>
    <td><a href="/reply-edit/{{replies.id}}">edit</a> </td>
    <td><a href="/reply-delete/{{replies.id}}">delete</a></td>

</tr>
{% endfor %}
</tbody>
</table>
<a href="/reply-new/">New</a>
</body>
</html>